<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791177670611-6j4fh9egg57obrbu5mhc0rt7t252bufe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791177670611-6j4fh9egg57obrbu5mhc0rt7t252bufe</string>
	<key>API_KEY</key>
	<string>AIzaSyAUML8syoxLtfyOGLiORzUvy5SbKJDdulY</string>
	<key>GCM_SENDER_ID</key>
	<string>791177670611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iraqsoft.tato</string>
	<key>PROJECT_ID</key>
	<string>tato-4ec05</string>
	<key>STORAGE_BUCKET</key>
	<string>tato-4ec05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791177670611:ios:12b03e40651fe18b7e0926</string>
</dict>
</plist>